/* Allgemeine Einstellungen für die Seite */
@font-face {
  font-family: 'SugarMagic';
  src: url('../fonts/SugarMagic.ttf') format('truetype');
}

@font-face {
  font-family: 'AbadiMT-Light';
  src: url('../fonts/AbadiMT-Light.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'AbadiMT-Light', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f9;
  position: relative;
}

/* Kreise oben am Rand */
.circles {
  font-family: 'AbadiMT-Light', sans-serif;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 80px;
  padding: 10px;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c397df;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.circle:hover {
  background-color: #a8c8ff;
}

.circle.grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #cbc6ce;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.circle.big {
  width: 60px;
  height: 60px;
  background-color: #9b4dca;
}

h1 {
  font-family: 'AbadiMT-Light', sans-serif;
  font-size: 3rem;
  color: #333;
  margin-top: 140px;
  margin-bottom: 30px;
  text-align: center;
}

/* Buttons */
.buttons {
  font-family: 'AbadiMT-Light', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

button.button {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
}

button.button:hover {
  background: black;
  color: white;
}

button.button.selected {
  border: 3px solid #933cc8;
  font-weight: bold;
}

button.weiter-button {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  background: #9b4dca;
  background-size: 400% 400%;
  border-radius: 30px;
  text-decoration: none;
  transition: background-position 0.8s ease, transform 0.3s ease;
  border: none;
  cursor: pointer;
}

button.weiter-button:hover {
  background-position: 100% 100%;
  transform: scale(1.1);
}
